/* 1. Динамические цвета Matugen */
@import "../../.cache/matugen/colors-waybar.css";

/* 2. Общие настройки */
* {
    font-family: "SF Pro Display", "Inter", sans-serif;
    font-weight: 500;
    font-size: 15px;
    background-image: none;
    transition: all 0.3s cubic-bezier(0.2, 1, 0.3, 1);
}

window {
    background-color: rgba(0, 0, 0, 0.2);
}

/* 3. Кнопки */
button {
    color: @text;
    background-color: alpha(@surface, 0.4); 
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 24px;
    margin: 20px; /* Базовый отступ */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1),
                0 10px 30px rgba(0, 0, 0, 0.2);
}

/* 4. Эффект при наведении (Ховер) */
button:hover {
    background-color: alpha(@primary, 0.2);
    border: 1px solid alpha(@primary, 0.4);
    color: @primary;
    
}

/* 5. Активная кнопка */
button:focus, button:active {
    background-color: @primary;
    color: @on_primary;
}

/* 6. Пути к иконкам */
#lock { background-image: image(url("/usr/share/wlogout/icons/lock.png")); }
#logout { background-image: image(url("/usr/share/wlogout/icons/logout.png")); }
#suspend { background-image: image(url("/usr/share/wlogout/icons/suspend.png")); }
#hibernate { background-image: image(url("/usr/share/wlogout/icons/hibernate.png")); }
#shutdown { background-image: image(url("/usr/share/wlogout/icons/shutdown.png")); }
#reboot { background-image: image(url("/usr/share/wlogout/icons/reboot.png")); }