/* Основные акценты */
@define-color primary {{colors.primary.default.hex}};
@define-color primary_container {{colors.primary_container.default.hex}};
@define-color on_primary_container {{colors.on_primary_container.default.hex}};

/* Поверхности (Слои стекла) */
@define-color surface {{colors.surface.default.hex}};
@define-color surface_bright {{colors.surface_bright.default.hex}};
@define-color surface_container {{colors.surface_container.default.hex}}; /* Для бара */
@define-color surface_container_high {{colors.surface_container_high.default.hex}}; /* Для ховеров */

/* Текст и детали */
@define-color text {{colors.on_surface.default.hex}};
@define-color text_variant {{colors.on_surface_variant.default.hex}};
@define-color outline {{colors.outline.default.hex}}; /* Для ультра-тонких рамок */

/* Функциональные цвета */
@define-color error {{colors.error.default.hex}};
@define-color secondary {{colors.secondary.default.hex}};
@define-color tertiary {{colors.tertiary.default.hex}};