:root {
    --zen-primary-color: {{colors.primary.default.hex}} !important;
    --zen-secondary-color: {{colors.secondary.default.hex}} !important;
    --browser-window-background-color: {{colors.surface.default.hex}} !important;
    --toolbar-bgcolor: alpha({{colors.surface_container.default.hex}}, 0.8) !important;
}