/* Импорт цветов из wal */
@import url("file:///home/dh/.cache/wal/colors-waybar.css");

window {
    background: transparent;
}

#box {
    background-color: rgba(20, 20, 20, 0.5); 
    padding: 2px 6px;         /* Уменьшили внутренние отступы самого бокса */
    border-radius: 22px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

button {
    background: transparent;
    margin: 2px 4px;          /* Уменьшили расстояние между иконками */
    padding: 4px;             /* Уменьшили отступ внутри кнопки */
    border-radius: 12px;
    transition: all 0.2s ease;
}

/* Эффект при наведении как в macOS */
button:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

/* Точка под запущенным приложением (Индикатор) */
#indicator {
    background-color: #ffffff;
    min-width: 3px;           /* Точка чуть меньше */
    min-height: 3px;
    margin-top: 0px;
}

/* Активное окно (на котором сейчас фокус) */
#active-button {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
}

/* Кнопка лаунчера (если используешь) */
#launcher-button {
    margin-right: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.1); /* Разделитель как в Mac */
    padding-right: 12px;
}