// Сброс всех стандартных рамок и фонов GTK
* {
    all: unset;
}

.osd-box {
    background-color: rgba(25, 25, 25, 0.85); // Чуть плотнее фон
    border-radius: 20px;
    padding: 0 20px; // Убираем вертикальный паддинг, полагаясь на высоту окна
    border: 1px solid rgba(255, 255, 255, 0.12);
    min-height: 50px;
}
.osd-value {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    font-weight: bold;
    margin-left: 12px;
    min-width: 35px;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}


.osd-icon {
    font-size: 20px;
    margin-right: 12px;
}

// Стилизация самой полоски
scale {
    // Убираем серый фон вокруг полоски
    background: none; 
    margin: 0;         // Обнуляем внешние отступы
    padding: 0;
    trough {
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 10px;
        min-height: 8px;
        min-width: 190px;
        margin: 0;
        highlight {
            background-color: white; // Цвет заполнения
            border-radius: 10px;

        }
    }
}