@import "/home/dh/.cache/matugen/eww-colors.scss";

// Глобальный сброс и шрифты
* {
    all: unset;
    font-family: "SF Pro Display", "SFProDisplay Nerd Font", "JetBrainsMono Nerd Font", sans-serif;
    transition: all 300ms cubic-bezier(0.16, 1, 0.3, 1);
}

.osd-box {
    // Используем переменную surface для легкого оттенка фона в тон темы
    background: rgba(25, 25, 25, 0.65); 
    border-radius: 24px;
    padding: 0 20px;
    
    // Тонкая рамка
    border: 1px solid rgba(255, 255, 255, 0.1);
    
    // Глубокая тень и внутренний блик
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.15);
    
    min-height: 58px;
}

.osd-icon {
    font-size: 22px;
    margin-right: 15px;
    color: $primary_col; // Цвет иконки из темы
    text-shadow: 0 0 10px rgba($primary_col, 0.3);
}

.osd-value {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: -0.5px;
    margin-left: 15px;
    min-width: 45px;
    // Динамический цвет текста: Matugen подставит нужный контраст
    color: $text_col; 
}

scale {
    trough {
        background-color: rgba(255, 255, 255, 0.12);
        border-radius: 20px;
        min-height: 12px;
        
        highlight {
            // Полоска в главный цвет темы
            background: $primary_col;
            border-radius: 20px;
            box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3);
        }
    }

    slider {
        all: unset;
        min-height: 0;
        min-width: 0;
    }
}