@import "/home/dh/.cache/matugen/eww-colors.scss";

// Глобальный сброс и шрифты
* {
    all: unset;
    font-family: "SF Pro Display", "Inter", sans-serif;
    transition: background 300ms cubic-bezier(0.16, 1, 0.3, 1), 
                color 300ms cubic-bezier(0.16, 1, 0.3, 1)
}

.osd-box {
    // Используем переменную surface для легкого оттенка фона в тон темы
    background: rgba(15, 15, 15, 0.5);
    border-radius: 20px;
    padding: 0 20px;
    
    // Тонкая рамка
    border: 1px solid rgba(255, 255, 255, 0.1);
    
    // Глубокая тень и внутренний блик
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.15);
    
    min-height: 60px;
}

.osd-icon {
    font-size: 20px;
    margin-right: 12px;
    // Используем чистый белый или основной акцент без теней
    color: #ffffff;
}

.osd-value {
    font-size: 13px;
    font-weight: 700;
    margin-left: 12px;
    min-width: 40px;
    color: #ffffff;
}

scale {
    trough {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        min-height: 8px;
        
        highlight {
            // Полоска в главный цвет темы
            background: #ffffff; 
            border-radius: 10px;
        }
    }

    slider {
        all: unset;
        min-height: 0;
        min-width: 0;
    }
}